<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredients</title>
    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="" rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
    />

    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity=""
            src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- /*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
<!-- /*@thymesVar id="ingredients" type="java.util.Set<guru.springframework.commands.IngredientCommand>"*/-->
<div class="container-fluid" style="...">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-header">
                    <h1 class="card-title">Ingredients</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.ingredients)}">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>view</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Testy Goodness 1</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Testy Goodness 2</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:each="ingredient : ${recipe.ingredients}">
                                <td th:text="${ingredient.id}">334</td>
                                <td th:text="${ingredient.amount} + ' ' + ${ingredient.uom.getUom()} + ' ' + ${ingredient.description}">
                                    Tasty Goodness
                                </td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}">View</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a> </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>