<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="" rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
    />

    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity=""
            src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card     panel-primary">

                <div class="card-body">
                    <h1 class="card-title">My Recipes!</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                            </tr>
                            </thead>

                            <tr th:remove="all">
                                <td>123</td>
                                <td>Tasty Goodness 1</td>
                                <td><a href="#">View</a> </td>
                            </tr>
                            <tr th:remove="all">
                                <td>135</td>
                                <td>Tasty Goodness 2</td>
                                <td><a href="#">View</a> </td>
                            </tr>
                            <tr th:each="recipe : ${recipes}">
                                <!-- /*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
                                <td th:text="${recipe.id}">257</td>
                                <td th:text="${recipe.description}">Tasty Goodness 3</td>
                                <td><a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">View</a> </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>